/* Стилизация аккордеона */
.root {
    margin-left: 544px;
    margin-top: 75px;
}

.true {
    background: var(--white);
    box-sizing: border-box;
    display: block;
    width: 730px;
    height: 72px;
    left: 544px;
    top: 227px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding-left: 32px;
    margin: 8px;    
}
.true[open]{
height: 144px;}

summary::-webkit-details-marker{display: none;}
summary::marker{display: none;}
summary::-moz-list-bullet{list-style-type: none;}
.true__summary {
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin-left: 32px;
    margin-top: 24px;
    cursor: pointer;
}

.true__content {
position: absolute;
width: 649.31px;
height: 48px;
margin-left: 32px;
margin-top: 64px;
}

